.border{
    border: solid 10px black;
    background-color: black;
    height: 10px;
    margin: 0px 0px 40px 0px
}
#hour{
    border-top: dotted 1px black;
    border-bottom: dotted 1px black;
    padding: 10px 10px 0px 0px;
    height: 75px;
}
#task{
    background-color:lightgray;
    padding: 10px 10px 0px 0px;
    height: 75px;
    border: 1px solid white;

}
#save{
    padding: 10px 10px 0px 0px;
    height: 75px;
    border: 1px solid white;

}